
.fieldSet{
    position: relative;
    margin: 10%;
    align-items: center;
}

.header{
    text-align: center;
}

.boilerText{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.square{
    width: 100px;
    height: 100px;
}

.textContent{
    margin-top: 30px;
    margin-left: 80px;
    font-size: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0.5rem;
align-items: center;
}
p {
margin-top: 0;
margin-bottom: 1rem;
}
.col-md-2 {
-webkit-box-flex: 0;
-ms-flex: 0 0 16.666667%;
flex: 0 0 16.666667%;
max-width: 16.666667%;
}
.career-menu-div {
background-color: #fdf0e7;
padding-right: 14px;
}

.col-md-10 {
-webkit-box-flex: 0;
-ms-flex: 0 0 83.333333%;
flex: 0 0 83.333333%;
max-width: 83.333333%;
}